*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
  color: white;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.card img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}