*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

/* counter */

button{
    padding: 10px 20px;
    margin: 20px;
}

h1{
    background-color: gray;
    width: fit-content;
    font-size: 100px;
    padding: 10px 70px;
    margin: 20px;
    border-radius: 5px;
}